@charset "UTF-8";
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;700&family=Roboto:wght@300;400;500;700;900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --primary-text-color: #999999;
  --secondary-text-color: #fff;
  --title-text-color: #3A3A3A;
  --title-color: #404040;
  --text-color: #424242;
  --placeholder-color: #676767;
  --accent-color: #6F4B27;
  --background-color: #fff;
  --secondary-background-color: #F4F4F4;
  --border-color: #E4E4E4;
  --box-background-color: #EBE6E1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: Montserrat, serif;
}
@media screen and (max-width: 1179px) {
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 1180px) {
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 1179px) {
  .section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 1180px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (max-width: 1179px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1180px) {
  .container {
    width: 1180px;
  }
}

.title {
  font-weight: 700;
  line-height: 1.2;
  color: var(--title-color);
}
@media screen and (max-width: 1179px) {
  .title {
    font-size: 37px;
  }
}
@media screen and (min-width: 1180px) {
  .title {
    font-size: 55px;
  }
}

.btn {
  border-radius: 10px;
  text-transform: uppercase;
}
@media screen and (max-width: 1179px) {
  .btn {
    padding-top: 19.5px;
    padding-bottom: 19.5px;
  }
}
@media screen and (min-width: 1180px) {
  .btn {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

@media screen and (max-width: 1179px) {
  .mob__menu__wrapper {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
  }
}
@media screen and (min-width: 1180px) {
  .mob__menu__wrapper {
    display: none;
  }
}

.header__container {
  position: relative;
  display: flex;
}
@media screen and (max-width: 1179px) {
  .header__container {
    padding-top: 53px;
    padding-bottom: 28px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1180px) {
  .header__container {
    justify-content: end;
    padding-top: 19px;
    padding-bottom: 19px;
  }
}

.header__logo__wrapper {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 107px;
  height: 155px;
  background: url(../../img/header-logo-background375@1x.png) no-repeat center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header__logo__wrapper {
    background: url(../../img/header-logo-background375@2x.png) no-repeat center;
    background-size: cover;
  }
}
@media screen and (min-width: 1180px) {
  .header__logo__wrapper {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    width: 180px;
    height: 193px;
    background: url(../../img/hrader-logo-background1180@1x.png) no-repeat center;
    background-size: cover;
  }
}
@media screen and (min-width: 1180px) and (min-device-pixel-ratio: 2), screen and (min-width: 1180px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1180px) and (min-resolution: 192dpi), screen and (min-width: 1180px) and (min-resolution: 2dppx) {
  .header__logo__wrapper {
    background: url(../../img/header-logo-background1180@2x.png) no-repeat center;
    background-size: cover;
  }
}

@media screen and (min-width: 1180px) {
  .contact__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    gap: 12px;
  }
}

.social__list {
  display: flex;
}
@media screen and (max-width: 1179px) {
  .social__list {
    gap: 8px;
  }
}
@media screen and (min-width: 1180px) {
  .social__list {
    gap: 10px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
}

@media screen and (max-width: 1179px) {
  .social__link--small {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 1180px) {
  .contact__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

@media screen and (max-width: 1179px) {
  .contact__wrapper-mob {
    display: none;
  }
}

.contact__link {
  font-weight: 800;
  font-size: 18px;
  color: var(--accent-color);
}

.social__icon {
  fill: var(--accent-color);
}

.contact__text {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
}

.hero__overlay {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 573px;
  background: url(../../img/making-delivery1x@375.jpg) no-repeat center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__overlay {
    background: url(../../img/making-delivery2x@375.jpg) no-repeat center;
    background-size: cover;
  }
}
@media screen and (min-width: 1180px) {
  .hero__overlay {
    max-width: 1920px;
    height: 567px;
    background: url(../../img/making-delivery1x@1180.jpg) no-repeat center;
    background-size: cover;
  }
}
@media screen and (min-width: 1180px) and (min-device-pixel-ratio: 2), screen and (min-width: 1180px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1180px) and (min-resolution: 192dpi), screen and (min-width: 1180px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background: url(../../img/making-delivery2x@1180.jpg) no-repeat center;
    background-size: cover;
  }
}

.hero__container {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1179px) {
  .hero__container {
    padding-top: 144px;
    width: 345px;
  }
}
@media screen and (min-width: 1180px) {
  .hero__container {
    margin-top: 120px;
    width: 650px;
  }
}

.hero__title {
  margin-bottom: 44px;
  color: var(--background-color);
}

.hero__text {
  margin-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
  color: var(--background-color);
  font-weight: 300;
  line-height: 1.3;
}
@media screen and (max-width: 1179px) {
  .hero__text {
    width: 345px;
  }
}
@media screen and (min-width: 1180px) {
  .hero__text {
    width: 550px;
  }
}

.tracking__form {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  height: 55px;
  border: 1px solid var(--accent-color);
  border-radius: 10px;
  background-color: var(--background-color);
}
@media screen and (max-width: 1179px) {
  .tracking__form {
    width: 345px;
  }
}
@media screen and (min-width: 1180px) {
  .tracking__form {
    width: 480px;
  }
}

.tracking__form__input {
  padding-left: 14px;
  padding-right: 14px;
  border: none;
  border-radius: 10px;
}
.tracking__form__input:focus {
  outline: none;
}
.tracking__form__input::-moz-placeholder {
  color: var(--placeholder-color);
  font-weight: 300;
}
.tracking__form__input::placeholder {
  color: var(--placeholder-color);
  font-weight: 300;
}
@media screen and (max-width: 1179px) {
  .tracking__form__input {
    width: 218px;
  }
}
@media screen and (min-width: 1180px) {
  .tracking__form__input {
    width: 310px;
  }
}

.tracking__form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 53px;
  border: none;
  border-radius: 8px;
  background-color: var(--accent-color);
  color: var(--background-color);
}
@media screen and (max-width: 1179px) {
  .tracking__form__btn {
    width: 127px;
    font-size: 12px;
  }
}
@media screen and (min-width: 1180px) {
  .tracking__form__btn {
    width: 160px;
  }
}

.hero__arrow__icon {
  fill: var(--background-color);
}
@media screen and (max-width: 1179px) {
  .hero__arrow__icon {
    margin-left: 8px;
  }
}
@media screen and (min-width: 1180px) {
  .hero__arrow__icon {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1179px) {
  .site__nav__container {
    display: none;
  }
}
@media screen and (min-width: 1180px) {
  .site__nav__container {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 76px;
    background-color: rgba(111, 75, 39, 0.4);
  }
}

.site__nav__container--inside {
  display: flex;
  justify-content: space-between;
}

.site__nav__list {
  display: flex;
  gap: 58px;
}

.site__nav__link {
  font-weight: 500;
  font-size: 14px;
  color: var(--background-color);
  text-transform: uppercase;
}

.result-container {
  position: absolute;
}
@media screen and (max-width: 1179px) {
  .result-container {
    top: 460px;
  }
}
@media screen and (min-width: 1180px) {
  .result-container {
    top: 300px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.tracking-info {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid var(--accent-color);
  border-radius: 10px;
  background-color: var(--background-color);
}
@media screen and (max-width: 1179px) {
  .tracking-info {
    width: 345px;
  }
}
@media screen and (min-width: 1180px) {
  .tracking-info {
    width: 480px;
  }
}

.tracking__result__text {
  color: var(--text-color);
}

.tracking__result__text--bold {
  font-weight: 700;
}

.about__us__container {
  text-align: center;
}
@media screen and (min-width: 1180px) {
  .about__us__container {
    width: 1000px;
  }
}

.about__us__title {
  color: var(--title-color);
}
@media screen and (max-width: 1179px) {
  .about__us__title {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1180px) {
  .about__us__title {
    margin-bottom: 50px;
  }
}

.about__us__text {
  line-height: 1.3;
}

@media screen and (max-width: 1179px) {
  .about__us__text--indented {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1180px) {
  .about__us__text--indented {
    margin-bottom: 30px;
  }
}

.order__overlay {
  padding-top: 323px;
  padding-bottom: 32px;
  width: 345px;
  height: 688px;
  background: url(../../img/filling-out-documents1x@375.jpg) no-repeat center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .order__overlay {
    background: url(../../img/filling-out-documents2x@375.jpg) no-repeat center;
    background-size: cover;
  }
}
@media screen and (min-width: 1180px) {
  .order__overlay {
    padding: 70px;
    width: 1180px;
    height: 458px;
    background: url(../../img/filling-out-documents1x@1180.jpg) no-repeat center;
    background-size: cover;
  }
}
@media screen and (min-width: 1180px) and (min-device-pixel-ratio: 2), screen and (min-width: 1180px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1180px) and (min-resolution: 192dpi), screen and (min-width: 1180px) and (min-resolution: 2dppx) {
  .order__overlay {
    background: url(../../img/filling-out-documents2x@1180.jpg) no-repeat center;
    background-size: cover;
  }
}

.order__title {
  color: var(--background-color);
}
@media screen and (max-width: 1179px) {
  .order__title {
    margin-bottom: 32px;
    width: 278px;
  }
}
@media screen and (min-width: 1180px) {
  .order__title {
    margin-bottom: 50px;
    width: 621px;
  }
}

.order__text {
  line-height: 1.3;
  color: var(--background-color);
}
@media screen and (max-width: 1179px) {
  .order__text {
    margin-bottom: 24px;
    width: 275px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1180px) {
  .order__text {
    margin-bottom: 32px;
    width: 386px;
    font-size: 20px;
  }
}

.order__btn {
  display: block;
  padding-left: 18px;
  padding-right: 18px;
  width: 266px;
  text-align: center;
  border: 1px solid var(--accent-color);
  background-color: var(--background-color);
  color: var(--accent-color);
}

.order__arrow__icon {
  fill: var(--accent-color);
}
@media screen and (max-width: 1179px) {
  .order__arrow__icon {
    margin-left: 8px;
  }
}
@media screen and (min-width: 1180px) {
  .order__arrow__icon {
    margin-left: 10px;
  }
}

.prices__title {
  text-align: center;
}
@media screen and (max-width: 1179px) {
  .prices__title {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1180px) {
  .prices__title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1180px) {
  .prices__list {
    display: flex;
    justify-content: space-between;
  }
}

.prices__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1179px) {
  .prices__item {
    width: 344px;
    height: 374px;
  }
}
@media screen and (min-width: 1180px) {
  .prices__item {
    width: 280px;
    height: 495px;
  }
}

.prices__item__icon {
  margin-bottom: 32px;
  width: 100px;
}

.prices__item__subtitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--text-color);
}
@media screen and (max-width: 1179px) {
  .prices__item__subtitle {
    margin-bottom: 18px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1180px) {
  .prices__item__subtitle {
    margin-bottom: 20px;
    font-size: 20px;
  }
}

.prices__item__list {
  padding-left: 10px;
  line-height: 1.3;
}

.prices__item__text::before {
  content: "•";
  display: inline-block;
  margin-right: 5px;
  color: var(--primary-text-color);
}
@media screen and (max-width: 1179px) {
  .prices__item__text::before {
    font-size: 14px;
  }
}
@media screen and (min-width: 1180px) {
  .prices__item__text::before {
    font-size: 16px;
  }
}

.prices__item__box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--box-background-color);
}
@media screen and (max-width: 1179px) {
  .prices__item__box {
    margin-top: 18px;
    width: 344px;
    height: 49px;
  }
}
@media screen and (min-width: 1180px) {
  .prices__item__box {
    width: 280px;
    height: 52px;
  }
}

.prices__item__box__text {
  font-weight: 700;
  color: var(--text-color);
}

@media screen and (max-width: 1179px) {
  .slider-container {
    position: relative;
    overflow: hidden;
  }
}

@media screen and (max-width: 1179px) {
  .slider {
    display: flex;
    transition: transform 0.5s ease;
  }
}

@media screen and (max-width: 1179px) {
  .slide {
    width: 100%;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 1179px) {
  .arrow {
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: var(--secondary-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

@media screen and (max-width: 1179px) {
  .arrow__icon {
    fill: var(--title-text-color);
  }
}
@media screen and (min-width: 1180px) {
  .arrow__icon {
    display: none;
  }
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

@media screen and (max-width: 1179px) {
  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
  }
}

@media screen and (max-width: 1179px) {
  .dot {
    width: 12px;
    height: 12px;
    background-color: var(--background-color);
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1179px) {
  .active {
    width: 16px;
    height: 16px;
    background-color: var(--accent-color);
  }
}

.calculator {
  padding-top: 70px;
}

.calculator__overlay {
  padding: 32px;
  width: 345px;
  height: 762px;
  background: url(../../img/registration-of-parcel1x@375.jpg) no-repeat center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .calculator__overlay {
    background: url(../../img/registration-of-parcel2x@375.jpg) no-repeat center;
    background-size: cover;
  }
}
@media screen and (min-width: 1180px) {
  .calculator__overlay {
    padding: 70px;
    width: 1180px;
    height: 523px;
    background: url(../../img/registration-of-parcel1x@1180.jpg) no-repeat center;
    background-size: cover;
  }
}
@media screen and (min-width: 1180px) and (min-device-pixel-ratio: 2), screen and (min-width: 1180px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1180px) and (min-resolution: 192dpi), screen and (min-width: 1180px) and (min-resolution: 2dppx) {
  .calculator__overlay {
    background: url(../../img/registration-of-parcel2x@1180.jpg) no-repeat center;
    background-size: cover;
  }
}

.calculator__title {
  color: var(--background-color);
}
@media screen and (max-width: 1179px) {
  .calculator__title {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1180px) {
  .calculator__title {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 1179px) {
  .calculator__text {
    display: none;
  }
}
@media screen and (min-width: 1180px) {
  .calculator__text {
    color: var(--background-color);
    font-weight: 300;
    font-size: 20px;
  }
}

.calculator__form {
  border: 1px solid var(--accent-color);
  border-radius: 10px;
  background-color: var(--background-color);
}
@media screen and (max-width: 1179px) {
  .calculator__form {
    padding: 18px;
    width: 281px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1180px) {
  .calculator__form {
    margin-top: 32px;
    padding: 32px;
    width: 1040px;
  }
}

.calculator__form__label {
  display: block;
  color: var(--title-text-color);
  font-weight: 600;
}
@media screen and (max-width: 1179px) {
  .calculator__form__label {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1180px) {
  .calculator__form__label {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1180px) {
  .calculator__form__btn__overlay {
    display: flex;
    align-items: flex-end;
  }
}

.calculator__form__btn {
  height: 55px;
  color: var(--background-color);
  background-color: var(--accent-color);
  border: none;
}
@media screen and (max-width: 1179px) {
  .calculator__form__btn {
    width: 245px;
  }
}
@media screen and (min-width: 1180px) {
  .calculator__form__btn {
    padding-left: 36px;
    padding-right: 36px;
  }
}

.calculator__country__overlay {
  display: flex;
}
@media screen and (max-width: 1179px) {
  .calculator__country__overlay {
    flex-direction: column;
    gap: 15px;
  }
}

.calculator__country__overlay--flex {
  margin-bottom: 15px;
}
@media screen and (min-width: 1180px) {
  .calculator__country__overlay--flex {
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1179px) {
  .calculator__country__input__overlay {
    width: 245px;
    height: 78px;
  }
}
@media screen and (min-width: 1180px) {
  .calculator__country__input__overlay {
    width: 335px;
  }
}

.dropdown-wrapper {
  position: relative;
}

.dropdown {
  position: absolute;
  text-align: center;
}
.dropdown__btn {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 24px;
  height: 24px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.dropdown__btn__icon {
  fill: var(--accent-color);
}

.calculator__input {
  padding: 18px;
  height: 55px;
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  background-color: rgba(111, 75, 39, 0.09);
}
.calculator__input:focus {
  outline: none;
}

@media screen and (max-width: 1179px) {
  .calculator__input--big {
    width: 245px;
  }
}
@media screen and (min-width: 1180px) {
  .calculator__input--big {
    width: 335px;
  }
}

@media screen and (max-width: 1179px) {
  .calculator__input--middle {
    width: 245px;
  }
}
@media screen and (min-width: 1180px) {
  .calculator__input--middle {
    width: 200px;
  }
}

.calculator__input__overlay--small {
  display: flex;
}
@media screen and (max-width: 1179px) {
  .calculator__input__overlay--small {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1180px) {
  .calculator__input__overlay--small {
    gap: 46px;
  }
}

@media screen and (max-width: 1179px) {
  .calculator__input--small {
    width: 110px;
  }
}
@media screen and (min-width: 1180px) {
  .calculator__input--small {
    width: 150px;
  }
}

@media screen and (min-width: 1180px) {
  .calculator__input__overlay--margin {
    margin-left: 46px;
    margin-right: 90px;
  }
}

.dropdown__content {
  height: 100px;
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  background-color: var(--background-color);
  display: none;
  position: absolute;
  z-index: 1;
  overflow: scroll;
}
@media screen and (max-width: 1179px) {
  .dropdown__content {
    width: 245px;
  }
}
@media screen and (min-width: 1180px) {
  .dropdown__content {
    width: 335px;
  }
}

.dropdown__item {
  padding: 5px;
}

.tariffs__container {
  display: none;
  background-color: var(--secondary-background-color);
}
@media screen and (max-width: 1179px) {
  .tariffs__container {
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 345px;
  }
}
@media screen and (min-width: 1180px) {
  .tariffs__container {
    justify-content: space-around;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.tariff__box {
  text-align: center;
  border: 2px solid #fcfcfc;
}
@media screen and (max-width: 1179px) {
  .tariff__box {
    width: 300px;
    padding: 25px;
    border-left: none;
    border-right: none;
  }
}
@media screen and (min-width: 1180px) {
  .tariff__box {
    width: 340px;
    border-bottom: none;
    border-top: none;
  }
}

.tariff__title {
  color: var(--text-color);
}
@media screen and (max-width: 1179px) {
  .tariff__title {
    margin-bottom: 12px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1180px) {
  .tariff__title {
    margin-bottom: 14px;
    font-size: 20px;
  }
}

.tariff__text {
  margin-bottom: 10px;
}

.tariff__cost {
  margin-top: 10px;
  font-weight: 700;
  color: var(--text-color);
}

.error__container {
  display: none;
  color: var(--title-text-color);
  margin-top: 32px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.services__title {
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (max-width: 1179px) {
  .services__title {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1180px) {
  .services__title {
    margin-bottom: 50px;
  }
}

.services__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 1179px) {
  .services__list {
    flex-direction: column;
  }
}

.services__item {
  background-color: var(--secondary-text-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.09);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1179px) {
  .services__item {
    padding: 14px;
    width: 345px;
    height: 285px;
  }
}
@media screen and (min-width: 1180px) {
  .services__item {
    padding: 24px;
    width: 380px;
    height: 325px;
  }
}
.services__item:hover, .services__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.services__item:hover .services__overlay, .services__item:focus .services__overlay {
  transform: translateY(0);
}

.services__wrapper {
  position: relative;
  overflow: hidden;
}

.services__overlay {
  position: absolute;
  transform: translateY(100%);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  padding: 15px;
  background-color: rgba(111, 75, 39, 0.73);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.services__text {
  line-height: 1.4;
  color: var(--secondary-text-color);
}

.services__name__wrapper {
  display: flex;
  gap: 12px;
}
@media screen and (max-width: 1179px) {
  .services__name__wrapper {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1180px) {
  .services__name__wrapper {
    margin-top: 28px;
  }
}

.services__icon {
  fill: var(--accent-color);
}

.services__name {
  color: var(--accent-color);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 1179px) {
  .services__name {
    font-size: 14px;
  }
}
@media screen and (min-width: 1180px) {
  .services__name {
    font-size: 16px;
  }
}

.partners {
  padding-top: 0px;
}

.partners__title {
  color: var(--title-text-color);
}
@media screen and (max-width: 1179px) {
  .partners__title {
    margin-bottom: 32px;
    width: 215px;
  }
}
@media screen and (min-width: 1180px) {
  .partners__title {
    margin-bottom: 47px;
  }
}

.partners__list {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1179px) {
  .partners__list {
    position: relative;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1179px) {
  .partners__item {
    padding-bottom: 22px;
    padding-top: 22px;
  }
}
@media screen and (min-width: 1180px) {
  .partners__item {
    width: 280px;
    height: 156px;
  }
}

.partners__item--left {
  padding-right: 22px;
}

.partners__item--right {
  padding-left: 22px;
}

@media screen and (max-width: 1179px) {
  .line--horizontal {
    width: 345px;
    border-bottom: 1px solid var(--secondary-background-color);
  }
}

@media screen and (max-width: 1179px) {
  .line--vertical {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 211px;
    border-left: 1px solid var(--secondary-background-color);
  }
}

.advantages {
  background-color: var(--secondary-background-color);
}

.advantages__title {
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (max-width: 1179px) {
  .advantages__title {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1180px) {
  .advantages__title {
    margin-bottom: 50px;
  }
}

.advantages__list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1179px) {
  .advantages__list {
    flex-direction: column;
  }
}
@media screen and (min-width: 1180px) {
  .advantages__list {
    justify-content: space-around;
  }
}

.advantages__item {
  text-align: center;
}
@media screen and (max-width: 1179px) {
  .advantages__item {
    width: 345px;
  }
}
@media screen and (min-width: 1180px) {
  .advantages__item {
    width: 340px;
  }
}

@media screen and (max-width: 1179px) {
  .advantages__icon {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1180px) {
  .advantages__icon {
    margin-bottom: 44px;
  }
}

.advantages__subtitle {
  color: var(--text-color);
}
@media screen and (max-width: 1179px) {
  .advantages__subtitle {
    margin-bottom: 12px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1180px) {
  .advantages__subtitle {
    margin-bottom: 14px;
    font-size: 20px;
  }
}

.advantages__line {
  background-color: #fcfcfc;
}
@media screen and (max-width: 1179px) {
  .advantages__line {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 351px;
    height: 2px;
  }
}
@media screen and (min-width: 1180px) {
  .advantages__line {
    margin-left: 30px;
    margin-right: 30px;
    height: 162px;
    background-color: #fcfcfc;
    width: 2px;
  }
}

.contacts__overlay {
  position: relative;
  padding: 32px;
  width: 345px;
  height: 867px;
  background: url(../../img/placing-order1x@375.jpg) no-repeat center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts__overlay {
    background: url(../../img/placing-order2x@375.jpg) no-repeat center;
    background-size: cover;
  }
}
@media screen and (min-width: 1180px) {
  .contacts__overlay {
    padding: 70px;
    width: 1180px;
    height: 489px;
    background: url(../../img/placing-order1x@1180.jpg) no-repeat center;
    background-size: cover;
  }
}
@media screen and (min-width: 1180px) and (min-device-pixel-ratio: 2), screen and (min-width: 1180px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1180px) and (min-resolution: 192dpi), screen and (min-width: 1180px) and (min-resolution: 2dppx) {
  .contacts__overlay {
    background: url(../../img/placing-order2x@1180.jpg) no-repeat center;
    background-size: cover;
  }
}

.contacts__title {
  color: var(--background-color);
}
@media screen and (max-width: 1179px) {
  .contacts__title {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1180px) {
  .contacts__title {
    margin-bottom: 50px;
  }
}

.contacts__wrapper__inputs {
  display: flex;
  margin-bottom: 18px;
}
@media screen and (max-width: 1179px) {
  .contacts__wrapper__inputs {
    width: 281px;
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (min-width: 1180px) {
  .contacts__wrapper__inputs {
    width: 638px;
    justify-content: space-between;
  }
}

.contacts__input {
  padding: 18px;
  border: 1px solid var(--background-color);
  border-radius: 8px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
}
.contacts__input::-moz-placeholder {
  color: var(--background-color);
  font-weight: 300;
}
.contacts__input::placeholder {
  color: var(--background-color);
  font-weight: 300;
}

.contacts__input--textarea {
  margin-bottom: 18px;
  height: 85px;
}
@media screen and (max-width: 1179px) {
  .contacts__input--textarea {
    width: 281px;
  }
}
@media screen and (min-width: 1180px) {
  .contacts__input--textarea {
    width: 638px;
  }
}

.contacts__input--size {
  height: 55px;
}
@media screen and (max-width: 1179px) {
  .contacts__input--size {
    width: 281px;
  }
}
@media screen and (min-width: 1180px) {
  .contacts__input--size {
    width: 309px;
  }
}

.contacts__wrapper__submit {
  display: flex;
}
@media screen and (max-width: 1179px) {
  .contacts__wrapper__submit {
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (min-width: 1180px) {
  .contacts__wrapper__submit {
    width: 483px;
  }
}

.hidden-checkbox {
  display: none;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  position: relative;
}

.styled-checkbox {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: var(--background-color);
  border-radius: 5px;
  cursor: pointer;
}

.styled-checkbox:active {
  outline: none;
}

.checkbox-icon {
  display: none;
  fill: var(--accent-color);
  stroke: var(--accent-color);
  stroke-width: 2;
  border: 1px solid transparent;
}

.hidden-checkbox:checked + .styled-checkbox .checkbox-icon {
  display: block;
}

.hidden-checkbox:checked + .styled-checkbox:active .checkbox-icon {
  border: none;
}

.contacts__span {
  display: block;
  font-weight: 300;
  color: #cacaca;
}
@media screen and (max-width: 1179px) {
  .contacts__span {
    width: 240px;
    font-size: 12px;
  }
}
@media screen and (min-width: 1180px) {
  .contacts__span {
    width: 268px;
    font-size: 14px;
  }
}

.contacts__btn__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  background-color: var(--background-color);
  color: var(--accent-color);
  text-transform: uppercase;
}
@media screen and (max-width: 1179px) {
  .contacts__btn__submit {
    width: 281px;
    height: 55px;
  }
}

.contacts__arrow__icon {
  margin-left: 10px;
  fill: var(--accent-color);
}

.border__overlay {
  position: absolute;
  padding-left: 6px;
  padding-right: 6px;
}
@media screen and (max-width: 1179px) {
  .border__overlay {
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 6px;
    width: 292px;
    height: 295px;
    background: url(../../img/mob-border1x@375.png) no-repeat center;
    background-size: cover;
  }
}
@media screen and (max-width: 1179px) and (min-device-pixel-ratio: 2), screen and (max-width: 1179px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 1179px) and (min-resolution: 192dpi), screen and (max-width: 1179px) and (min-resolution: 2dppx) {
  .border__overlay {
    background: url(../../img/mob-border2x@375.png) no-repeat center;
    background-size: cover;
  }
}
@media screen and (min-width: 1180px) {
  .border__overlay {
    top: 0px;
    right: 94px;
    width: 292px;
    height: 379px;
    background: url(../../img/border1x@1180.png) no-repeat center;
    background-size: cover;
  }
}
@media screen and (min-width: 1180px) and (min-device-pixel-ratio: 2), screen and (min-width: 1180px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1180px) and (min-resolution: 192dpi), screen and (min-width: 1180px) and (min-resolution: 2dppx) {
  .border__overlay {
    background: url(../../img/border2x@1180.png) no-repeat center;
    background-size: cover;
  }
}

@media screen and (max-width: 1179px) {
  .background__overlay {
    width: 280px;
    height: 289px;
    background: url(../../img/background1x@375.png) no-repeat center;
    background-size: cover;
  }
}
@media screen and (max-width: 1179px) and (min-device-pixel-ratio: 2), screen and (max-width: 1179px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 1179px) and (min-resolution: 192dpi), screen and (max-width: 1179px) and (min-resolution: 2dppx) {
  .background__overlay {
    background: url(../../img/background2x@375.png) no-repeat center;
    background-size: cover;
  }
}
@media screen and (min-width: 1180px) {
  .background__overlay {
    width: 280px;
    height: 373px;
    background: url(../../img/background.png) no-repeat center;
    background-size: cover;
  }
}
@media screen and (min-width: 1180px) and (min-device-pixel-ratio: 2), screen and (min-width: 1180px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1180px) and (min-resolution: 192dpi), screen and (min-width: 1180px) and (min-resolution: 2dppx) {
  .background__overlay {
    background: url(../../img/background@2x.png) no-repeat center;
    background-size: cover;
  }
}

@media screen and (max-width: 1179px) {
  .contacts--in__border {
    padding-top: 82px;
  }
}
@media screen and (min-width: 1180px) {
  .contacts--in__border {
    padding-top: 105px;
  }
}

.contacts__link__tel {
  margin-bottom: 4px;
  text-align: center;
  color: var(--background-color);
}
@media screen and (max-width: 1179px) {
  .contacts__link__tel {
    display: block;
    font-weight: 700;
  }
}

.contacts__link__time {
  color: var(--background-color);
  font-size: 12px;
}
@media screen and (max-width: 1179px) {
  .contacts__link__time {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1180px) {
  .contacts__link__time {
    margin-bottom: 50px;
  }
}

.contacts__link__mail {
  display: flex;
  justify-content: center;
  color: var(--background-color);
}
@media screen and (max-width: 1179px) {
  .contacts__link__mail {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1180px) {
  .contacts__link__mail {
    margin-bottom: 50px;
  }
}

.contacts__mail__icon {
  margin-right: 8px;
  fill: var(--background-color);
}

.contacts__social__list {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1179px) {
  .contacts__social__list {
    justify-content: center;
  }
}

.contacts__social__link {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.contacts__social__icon {
  fill: var(--background-color);
}

.footer {
  position: relative;
}

.footer__wrapper--black {
  height: 171px;
  background-color: var(--title-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__contacts__container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1179px) {
  .footer__contacts__container {
    padding-top: 11px;
    padding-bottom: 11px;
  }
}
@media screen and (min-width: 1180px) {
  .footer__contacts__container {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.address__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1179px) {
  .address__container--mob-hidden {
    display: none;
  }
}

@media screen and (min-width: 1180px) {
  .address__container--desc-hidden {
    display: none;
  }
}

.address__icon {
  margin-right: 10px;
}
@media screen and (max-width: 1179px) {
  .address__icon {
    fill: var(--background-color);
  }
}
@media screen and (min-width: 1180px) {
  .address__icon {
    fill: var(--accent-color);
  }
}

.address__link {
  display: block;
  font-size: 14px;
  font-weight: 500;
}
@media screen and (max-width: 1179px) {
  .address__link {
    width: 200px;
    color: var(--background-color);
    line-height: 1.5;
  }
}
@media screen and (min-width: 1180px) {
  .address__link {
    width: 250px;
    color: var(--text-color);
  }
}

@media screen and (max-width: 1179px) {
  .contact__wrapper--footer {
    display: none;
  }
}

.footer--line {
  border: 1px solid var(--border-color);
}

.footer__rules__container {
  padding-bottom: 18px;
  display: flex;
}
@media screen and (max-width: 1179px) {
  .footer__rules__container {
    padding-top: 43px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}
@media screen and (min-width: 1180px) {
  .footer__rules__container {
    padding-top: 18px;
    justify-content: space-between;
  }
}

.footer__logo__wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1179px) {
  .footer__logo__wrapper {
    top: 139px;
    width: 108px;
    height: 121px;
    padding-bottom: 5px;
    background: url(../../img/logo-footer-background375@1x.png) no-repeat center;
    background-size: cover;
  }
}
@media screen and (max-width: 1179px) and (min-device-pixel-ratio: 2), screen and (max-width: 1179px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 1179px) and (min-resolution: 192dpi), screen and (max-width: 1179px) and (min-resolution: 2dppx) {
  .footer__logo__wrapper {
    background: url(../../img/logo-footer-background375@2x.png) no-repeat center;
    background-size: cover;
  }
}
@media screen and (min-width: 1180px) {
  .footer__logo__wrapper {
    top: 112px;
    width: 180px;
    height: 207px;
    background: url(../../img/logo-footer-background1180@1x.png) no-repeat center;
    background-size: cover;
  }
}
@media screen and (min-width: 1180px) and (min-device-pixel-ratio: 2), screen and (min-width: 1180px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1180px) and (min-resolution: 192dpi), screen and (min-width: 1180px) and (min-resolution: 2dppx) {
  .footer__logo__wrapper {
    background: url(../../img/logo-footer-background1180@2x.png) no-repeat center;
    background-size: cover;
  }
}

.mob-menu {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  transform: translate(100%);
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu.is-open {
  transform: translate(0);
}

.mob-menu__body {
  position: relative;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mob-menu__header__container {
  padding-bottom: 35px;
  border-bottom: 2px solid var(--border-color);
}

.close__icon {
  fill: var(--background-color);
}

.mob__nav__subtitle {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 500;
  color: var(--accent-color);
}

.mob__nav__line {
  border-top: 2px solid var(--border-color);
  margin-bottom: 24px;
}

.mob__nav__list {
  margin-bottom: 44px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mob__nav__link {
  text-transform: uppercase;
  color: var(--title-color);
}

.contact__link__tel--mob {
  display: block;
  margin-bottom: 4px;
  font-weight: 600;
  color: var(--title-color);
}

.contacts__text__time--mob {
  margin-bottom: 32px;
  text-align: start;
  font-size: 12px;
  color: var(--title-color);
}

.contacts__link__mail--mob {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--title-color);
}

.contacts__mail__icon--mob {
  fill: var(--title-color);
}

.mob-menu__button {
  background-color: var(--background-color);
}/*# sourceMappingURL=main.css.map */