.footer {
  position: relative;
}

.footer__wrapper--black {
  height: 171px;
  background-color: var(--title-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__contacts__container {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $pre-desk) {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.address__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.address__container--mob-hidden {
  @media screen and (max-width: $pre-desk) {
    display: none;
  }
}

.address__container--desc-hidden {
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.address__icon {
  margin-right: 10px;

  @media screen and (max-width: $pre-desk) {
    fill: var(--background-color);
  }

  @media screen and (min-width: $desktop) {
    fill: var(--accent-color);
  }
}

.address__link {
  display: block;
  font-size: 14px;
  font-weight: 500;

  @media screen and (max-width: $pre-desk) {
    width: 200px;
    color: var(--background-color);
    line-height: 1.5;
  }

  @media screen and (min-width: $desktop) {
    width: 250px;
    color: var(--text-color);
  }
}

.contact__wrapper--footer {
  @media screen and (max-width: $pre-desk) {
    display: none;
  }
}

.footer--line {
  border: 1px solid var(--border-color);
}

.footer__rules__container {
  padding-bottom: 18px;
  display: flex;

  @media screen and (max-width: $pre-desk) {
    padding-top: 43px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 18px;
    justify-content: space-between;
  }
}

.footer__logo__wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $pre-desk) {
    top: 139px;
    width: 108px;
    height: 121px;
    padding-bottom: 5px;
    background: url(../../img/logo-footer-background375@1x.png) no-repeat center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: url(../../img/logo-footer-background375@2x.png) no-repeat
        center;
      background-size: cover;
    }
  }

  @media screen and (min-width: $desktop) {
    top: 112px;
    width: 180px;
    height: 207px;
    background: url(../../img/logo-footer-background1180@1x.png) no-repeat
      center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: url(../../img/logo-footer-background1180@2x.png) no-repeat
        center;
      background-size: cover;
    }
  }
}
