.hero__overlay {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 573px;
  background: url(../../img/making-delivery1x@375.jpg) no-repeat center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: url(../../img/making-delivery2x@375.jpg) no-repeat center;
    background-size: cover;
  }
  @media screen and (min-width: $desktop) {
    max-width: 1920px;
    height: 567px;
    background: url(../../img/making-delivery1x@1180.jpg) no-repeat center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: url(../../img/making-delivery2x@1180.jpg) no-repeat center;
      background-size: cover;
    }
  }
}

.hero__container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $pre-desk) {
    padding-top: 144px;
    width: 345px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 120px;
    width: 650px;
  }
}

.hero__title {
  margin-bottom: 44px;
  color: var(--background-color);
}

.hero__text {
  margin-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
  color: var(--background-color);
  font-weight: 300;
  line-height: 1.3;

  @media screen and (max-width: $pre-desk) {
    width: 345px;
  }

  @media screen and (min-width: $desktop) {
    width: 550px;
  }
}

.hero__input__box {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  height: 55px;
  border: 1px solid var(--accent-color);
  border-radius: 10px;
  background-color: var(--background-color);

  @media screen and (max-width: $pre-desk) {
    width: 345px;
  }

  @media screen and (min-width: $desktop) {
    width: 480px;
  }
}

.hero__input {
  padding-left: 14px;
  padding-right: 14px;
  border: none;
  border-radius: 10px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--placeholder-color);
    font-weight: 300;
  }

  @media screen and (max-width: $pre-desk) {
    width: 218px;
  }

  @media screen and (min-width: $desktop) {
    width: 310px;
  }
}

.hero__input__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 53px;
  border: none;
  border-radius: 8px;
  background-color: var(--accent-color);
  color: var(--background-color);

  @media screen and (max-width: $pre-desk) {
    width: 127px;
    font-size: 12px;
  }

  @media screen and (min-width: $desktop) {
    width: 160px;
  }
}

.hero__arrow__icon {
  fill: var(--background-color);

    @media screen and (max-width: $pre-desk) {
      margin-left: 8px;
      }
    
      @media screen and (min-width: $desktop) {
        margin-left: 10px;
      }
}
