.partners{
    padding-top: 0px;
}

.partners__title{
    margin-bottom: 47px;
    color: var(--title-text-color);
}

.partners__list{
    display: flex;
    justify-content: space-between;
}

.partners__item{
        width: 280px px;
        height: 156px;
}
